<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SZU Lab.{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/reset-css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/demo.css') }}">
    <script src="{{ url_for('static', filename='components/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/demo.js') }}"></script>
    {%- block htmlhead %}
    {%- endblock %}
</head>
<body>
    {% block header %}
    <div id="header">
        <div id="header-top">
            <h1 class="header-logo hide-text"><a href="/">SZU Labs.</a></h1>
        </div>
    </div>
    {% endblock %}
    {% block nav %}
    <div id="nav">
        <ul>
            <li><a href="/" title="首页">首  页</a></li>
            <li><a href="/experiments">实验品</a></li>
            <li><a href="/team">团  队</a></li>
        </ul>
    </div>
    {% endblock %}
    <div id="main">
    {% block main %}
    <div id="content">
        Welcome
    </div>
    {% endblock %}
    </div>
    {% block footer %}
    <div id="footer">
        <p>Copyright &copy; 2013 <a href="http://stu.szu.edu.cn" rel="nofollow">StuCampus</a>.</p>
        <p><span><a href="/aboutus">关于我们</a>  |  <a href="/contactus">联系我们</a>  |  <a href="joinus">加入我们</a></span></p>
    </div>
    {% endblock %}
</body>
</html>
