Babel==0.9.6
blinker==1.2
Flask==0.9
Flask-Babel==0.8
Flask-Gears==0.1.2
Flask-Login==0.1.3
Flask-Mail==0.7.4
Flask-OpenID==1.1.1
Flask-Script==0.5.3
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Gears==0.4
gevent==0.13.8
gevent-psycopg2==0.0.3
Jinja2==2.6
psycopg2==2.4.6
slimit==0.7.4
SQLAlchemy==0.7.9
Werkzeug==0.8.3
WTForms==1.0.2
