<!DOCTYPE html>
<html>
<head>
    <title>SZU Labs.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="zh-CN" />
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}" type="text/css" />
</head>
<body>
    <div id="header">
    	<div id="header-top">
            <h1 class="header-logo hide-text"><a href="/">SZU Labs.</a></h1>
    	</div>
    </div>
    <div id="nav">
    	<ul>
    		<li>首  页</li>
    	</ul>
    </div>
    <div id="main">
    </div>
    <div id="footer">
    	<p>版权所有 © 2001～2013 深圳大学学子天地 荔园校园传媒资讯网</p>
    	<p><span>关于我们  |  联系我们  |  加入我们</span></p>
    </div>
</body>
</html>
