{% extends "layout.html" %}

{%- macro form_field(field, with_label=True) %}
    {# TODO: import the design #}
    <div>
        {{ field.label() if with_label }}
        {{ field() }}
        {%- if field.errors %}
            <ul style="color:red">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {%- endif %}
    </div>
{%- endmacro %}

{% block main %}
    <form action="{{ url_for('account.login') }}" method="post">
        {{ form_field(form.email) }}
        {{ form_field(form.password) }}
        {{ form_field(form.submit, with_label=False) }}
        {{ form.csrf_token() }}
    </form>
{% endblock %}
